{% extends 'base.html' %}

{% block content %}
    <div class="login">

        <form class="form">

            <h2 class="text-center text-info">{{ request.user }}, </h2>
            <h4 class="text-center text-info">за съжаление страницата, която търсите не беше открита</h4>
            <br>
            <br>
            <div>
                <a href="{% url 'index' %}" class="btn btn-primary">Върни се на началната страница</a>
            </div>
            <br>
            <div>
                <a href="{% url 'categories' %}" class="btn btn-primary">Разгледай категориите и си избери куиз</a>
            </div>


        </form>
    </div>

{% endblock %}
