{% extends 'base.html' %}

{% block content %}
    <div class="profile">
        <div class="container-xl px-4 mt-4">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Профилна снимка</div>
                        <div class="card-body text-center">

                            <img class="img-account-profile rounded-circle mb-2" src="{{ profile.picture }}"
                                 alt="description">

                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Детайли</div>
                        <div class="card-body">
                            <form>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1">Потребителско име: {{ request.user.username }}</label>

                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1">Електронна поща: {{ request.user.email }}</label>

                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1">Първо име: {{ profile.first_name }}</label>

                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1">Фамилия: {{ profile.last_name }}</label>

                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1">Среден резултат: {{ average_result }}</label>

                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1">Ранг: {{ rank }}</label>

                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    {% if profile.date_of_birth %}
                                        <div class="col-md-6">
                                            <label class="small mb-1">Възраст: {{ profile.age }}</label>
                                        </div>
                                    {% endif %}
                                    {% if profile.gender %}
                                        <div class="col-md-6">
                                            <label class="small mb-1">Пол: {{ profile.gender }}</label>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if profile.city %}
                                    <div class="mb-3">
                                        <label class="small mb-1">Град: {{ profile.city }}</label>
                                    </div>
                                {% endif %}
                                {% if profile.description %}
                                    <div class="mb-3">
                                        <label class="small mb-1">Описание: {{ profile.description }}</label>
                                    </div>
                                {% endif %}
                                <div class="mb-3">
                                    <label class="small mb-1">Брой взети куизове: {{ taken_quizzes_count }}</label>
                                </div>

                                <div>
                                    {% if created_quizzes %}
                                        <a href="{% url 'created quizzes' request.user.id %}" class="btn btn-success">Създадени
                                            куизове</a>
                                    {% endif %}

                                    {% if quiz_results %}
                                        <a href="{% url 'quiz results' request.user.id %}" class="btn btn-success">Постигнати
                                            резултати</a>
                                    {% endif %}
                                </div>
                                <br>
                                <div>
                                    <a href="{% url 'edit profile' request.user.id %}" class="btn btn-primary">Редактирай</a>
                                    <a href="{% url 'delete profile' request.user.id %}"
                                       class="btn btn-danger">Изтрий</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
